<%- include("header"); -%>
<form action="/delete" method="post">
    <label>Book-Title</label>
    <input type="text" class="form-control" name="title"><br>
  <button type="submit" class="btn btn-primary">Delete</button>
</form>
